*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
  /* Header Section */

#header-section {
  /* background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.856),
      rgba(0, 0, 0, 0.8)
    ),
    url(../images/personally-logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  width: 100%;
  padding: 20px 0;
  /* box-shadow: 0px 4px 70px rgba(30, 40, 52, 0.08); */
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.08);
}
header {
  width: 86%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#nav-ul {
  width: 100%;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  gap: 45px;
}

#nav-ul button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  padding: 8px 10px;
}
/* Hero Section */
#hero-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center;
    justify-content: center; */
  padding: 100px 50px;
}

#hero-section > div {
  padding: 8px;
  border-radius: 18px;
  background-color: rgba(232, 244, 249, 0.662);
  align-self: center;
}

#hero-section > h1 {
  margin-top: 20px;
  /* color: chocolate; */
  background-clip: text;
  background: linear-gradient(97deg, rgb(6, 77, 69), rgb(23, 168, 225), red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 700;
  /* border: 1px solid red; */
  align-self: center;
  text-align: center;
  width: 80%;
}

#hero-section > p {
  width: 100%;
  font-size: 22px;
  color: gray;
  text-align: center;
}
/* vlogs section */
#vlog-section {
  padding: 30px 0px;
  background-color: rgb(241, 239, 239);
}
.view-all {
    width: 68%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}
.vlog-container {
    width: 65%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
}
.vlog {
    padding: 20px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.vlog-text {
  width: 70%;
}
.vlog-text h3 {
  margin-top: 12px;
}
.vlog-text p {
  margin-top: 15px;
  color: grey;
}
.Vlog-image {
  width: 28%;
}
#newsletter-section {
  width: 68%;
  margin: 0 auto;
}
#newsletter-section h2 {
  /* color: red; */
  background-clip: text;
  background: linear-gradient(97deg, rgb(94, 255, 0), rgb(0, 17, 128), rgb(255, 0, 200));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 25px;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}
#newsletter-section p {
  margin-top: 15px;
  text-align: center;
}
#newsletter-section > div {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#newsletter-section > div input {
  padding: 10px 35px;
  border-radius: 5px;
  border: 2px solid grey;
}
#newsletter-section > div input:focus {
  outline: none;
  padding: 5px 10px;
}
#newsletter-section > div button {
  padding: 5px 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
}
footer {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner-box{
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  margin: 50% auto;
  border-radius: 10px;
  animation: spin 0.5s infinite linear;
}
.spinner-box:hover{
  background-color: deeppink;
  opacity: 0.5;
  animation: none;
  transform: scale(1.2) translate(30px,30px);

}
@keyframes spin {
 from {
  transform: rotate(0deg);
  }
 to {
  transform: rotate(360deg);
  }
}



 

